<style>
body{
  margin: 0;
}
  #article{
    border:none;
    font-weight: 800;
  }
  #grid{
    border:none;
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 0px;
    margin: 0px;
  }
  div{
    border-right: 1px solid black;
    font-size: 40px;
    font-weight: 300;
    font-family: "본고딕", sans-serif;
    line-height: 1.6;
    padding: 20px;
    margin-right: 20px;
    hyphens: none;
  }
  @media(max-width:800px){
    #grid{
      display: block;
    }
    div{
      border-right: none;
    }
    #article{
      display: block;
      border-top: 1px solid black;
    }
</style>
